
#html
{
    height: 100%;
}

#body
{
    height: 100%;
    margin: 0;
    padding: 0;
}

#backgroundLayer
{
    background: url(../img/background.jpg);
    background-size: cover;
    height: 100%;
}

#infoLayer
{
    width: 700px;
    margin: auto;
    transform: translate(30%, 30%);
    border-radius: 25px;
    background-color: rgba(0,0,0,0.3);
    padding: 30px;"
}
#loginBtn
{
    font-family: 'Open Sans';
    font-weight: bold;
    margin-top: 15px;
    font-size: 16px;
    margin-left: 0px;
    height: 50px;
    padding-left: 25px;
    padding-right: 25px;
}