<oot-toolbar></oot-toolbar>
<h1 class="md-display-1">Please enter the Medium Green Triangle in the space on the left</h1>

<div layout="row">
  <div flex>
    <div class="tangibleContainer settingsContainer" id="tangibleContainer"></div>
  </div>
  <div flex>
    <div class="tangibleContainer settingsContainer" id="tangibleTestContainer"></div>
  </div>
</div>

<div layout="row">
  <div flex>
    <md-button class="md-primary md-raised" ng-click="clear()">Undo</md-button>
  </div>
  <div>
    <md-button class="md-primary md-raised" ng-click="clearTestArea()">Clear Test Area</md-button>
  </div>
</div>
