<md-dialog aria-label="Register Tangible" style="width: 30%; height: 50%">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Register Tangible</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="answer('not applicable')">
                    <md-icon md-svg-src="img/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <form name="userForm">
                <md-input-container flex>
                    <label>Tangible Name</label>
                    <input required ng-model="tangible.name">
                </md-input-container>

                <!--<div layout layout-sm="column">-->
                    <!--<md-input-container style="width: 30%">-->
                        <!--<md-button class="md-primary">Upload image</md-button>-->
                    <!--</md-input-container>-->
                    <!--<md-input-container style="width: 30%">-->
                        <!--<md-chips ng-model="ctrl.roFruitNames" readonly="ctrl.readonly">-->
                        <!--</md-chips>-->
                    <!--</md-input-container>-->
                <!--</div>-->

                <md-input-container>
                    <label>Scale (%)</label>
                    <input required type="number" min="-100" max="100" ng-model="tangible.scale" aria-label="scale">
                </md-input-container>
            </form>
        </md-dialog-content>
        <div class="md-actions" layout="row">
            <span flex></span>
            <md-button ng-click="answer('not useful')" class="md-primary">
                Cancel
            </md-button>
            <md-button ng-click="answer('useful')" class="md-primary">
                Save
            </md-button>
        </div>
    </form>
</md-dialog>