<div class="fill-screen login-container">
    <div layout="row" class="fill-screen" layout-align="center center">
        <div class="form-background">
            <div layout="column" align="center">
                <div flex>
                    <h1 style="margin: 0 0 20px;">Tangibles</h1>
                </div>

                <div flex>
                    <md-input-container>
                        <label class="white">Email</label>
                        <input class="white" ng-model="user.email" type="email">
                    </md-input-container>
                </div>
                <div flex>
                    <md-input-container>
                        <label class="white">Password</label>
                        <input class="white" ng-model="user.password" type="password">
                    </md-input-container>
                </div>
            </div>

            <div layout="row">
                <div flex align="right">
                    <md-button class="md-primary md-raised white" ng-click="tgLogin.openNewDiagram()">Login</md-button>
                </div>

                <div flex>
                    <md-button class="md-secondary md-raised grey">Register</md-button>
                </div>
            </div>
        </div>
    </div>
</div>