<!--<md-dialog aria-label="{{$const.COPY}}">-->
<md-toolbar>
    <div class="md-toolbar-tools">
        <h1>{{$const.COPY}}</h1>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="tgCopy.close($event)">
            <md-icon class="white" md-svg-src="navigation:ic_close" aria-label="Close dialog"></md-icon>
        </md-button>
    </div>
</md-toolbar>

<md-dialog-content layout-padding style="padding: 50px 30px 0 30px;">
    <md-input-container>
        <label>Name</label>
        <input ng-model="tgCopy.diagramName">
    </md-input-container>
</md-dialog-content>

<md-dialog-actions layout="row" style="padding-bottom: 20px;">
    <span flex></span>
    <md-button class="md-raised md-primary white" ng-click="tgCopy.copy($event)">
        Ok
    </md-button>
    <md-button class="md-raised grey" ng-click="tgCopy.close($event)">
        Cancel
    </md-button>
    <span flex></span>
</md-dialog-actions>
<!--</md-dialog>-->