<md-toolbar class="md-hue-4">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Menu" ng-click="tgToolbar.openMenu('tg-menu')">
            <md-icon md-svg-icon="tg:tangibles" class="white"></md-icon>
        </md-button>

        <h1 ng-if="tgToolbar.sharedData.stateName == 'home.libraries'" style="margin-left: 5px;">Libraries</h1>

        <md-input-container ng-if-start="tgToolbar.sharedData.stateName == 'home.diagram'" class="tg-diagram-name" >
            <input ng-model="tgToolbar.sharedData.diagramName" aria-label="Diagram Name">
        </md-input-container>
        <span flex></span>

        <md-button class="md-icon-button" aria-label="Bring forward" ng-click="tgToolbar.bringForward()">
            <md-icon md-svg-icon="hardware:ic_keyboard_arrow_up" class="white"></md-icon>
        </md-button>

        <md-button class="md-icon-button" aria-label="Send backward" ng-click="tgToolbar.sendBackward()">
            <md-icon md-svg-icon="hardware:ic_keyboard_arrow_down" class="white"></md-icon>
        </md-button>

        <md-button class="md-icon-button" aria-label="Bring to front" ng-click="tgToolbar.bringToFront()">
            <md-icon md-svg-icon="tg:to_front" class="white"></md-icon>
        </md-button>

        <md-button class="md-icon-button" aria-label="Send to back" ng-click="tgToolbar.sendToBack()">
            <md-icon md-svg-icon="tg:to_back" class="white"></md-icon>
        </md-button>

        <md-button class="md-icon-button" aria-label="Delete" ng-click="tgToolbar.deleteTangible()">
            <md-icon md-svg-icon="action:ic_delete" class="white"></md-icon>
        </md-button>

        <md-button ng-if-end class="md-icon-button" aria-label="Delete All" ng-click="tgToolbar.deleteAll()">
            <md-icon md-svg-icon="action:ic_delete_sweep" class="white"></md-icon>
        </md-button>
    </div>
</md-toolbar>

<md-sidenav class="md-sidenav-left" md-component-id="tg-menu" md-whiteframe="4">
    <md-toolbar class="md-hue-4" ng-click="tgToolbar.toggleSidenav('tg-menu')">
        <h2 class="md-toolbar-tools sign-in" style=""><login-buttons></login-buttons></h2>
    </md-toolbar>
    <md-content layout-padding>
        <md-list ng-cloak>
            <md-list-item ng-click="tgToolbar.openDialog(tgToolbar.tgNew.name, $event, 'big')">
                <md-icon class="tg-menu-icon" md-svg-icon="content:ic_add"></md-icon>
                <p>New</p>
            </md-list-item>
            <md-list-item ng-click="tgToolbar.openDialog(tgToolbar.tgOpen.name, $event, 'big')">
                <md-icon class="tg-menu-icon" md-svg-icon="file:ic_folder_open"></md-icon>
                <p>Open</p>
            </md-list-item>
            <md-list-item ng-disabled="!tgToolbar.isLoggedIn()" ng-click="tgToolbar.saveDiagram()">
                <md-icon class="tg-menu-icon" md-svg-icon="content:ic_save"></md-icon>
                <p>Save</p>
            </md-list-item>
            <md-list-item ng-disabled="!tgToolbar.isLoggedIn()" ng-click="tgToolbar.openDialog(tgToolbar.tgCopy.name, $event, 'small')">
                <md-icon class="tg-menu-icon" md-svg-icon="content:ic_content_copy"></md-icon>
                <p>Make a copy</p>
            </md-list-item>
            <md-list-item ng-disabled="!tgToolbar.isLoggedIn()" ng-click="tgToolbar.navigateTo('home.libraries', $event)">
                <md-icon class="tg-menu-icon" md-svg-icon="av:ic_library_books"></md-icon>
                <p>Libraries</p>
            </md-list-item>
        </md-list>
    </md-content>
</md-sidenav>

<div class="float-bottom-right-column">
    <md-button class="md-fab md-mini green" aria-label="Zoom in" ng-click="tgToolbar.zoomIn()">
        <md-icon md-svg-icon="action:ic_zoom_in" class="white"></md-icon>
    </md-button>

    <md-button class="md-fab md-mini green" aria-label="Zoom out" ng-click="tgToolbar.zoomOut()">
        <md-icon md-svg-icon="action:ic_zoom_out" class="white"></md-icon>
    </md-button>
</div>