<div style="margin: 20px;">
    <div class="tg-search-box">
        <md-input-container>
            <label>Search</label>
            <input ng-model="query">
        </md-input-container>
        <md-subheader class="md-no-sticky tg-list-header">Libraries</md-subheader>
    </div>

    <md-content>
        <md-list-item ng-repeat="library in tgLibraries.libraries | filter:query"
                      ng-click="tgLibraries.editLibrary(library)">
            <div class="horizontal tg-list-item">
                <div class="vertical">
                    <img ng-src="{{$tgImages.getLibraryImage(library)}}" alt="{{library.name}}"/>
                </div>
            </div>
            <p>{{library.name}}</p>

            <div class="vertical">
                <md-icon class="md-secondary grey" aria-label="Delete"
                         md-svg-icon="navigation:ic_close" ng-click="tgLibraries.deleteLibrary(library)"></md-icon>
            </div>
        </md-list-item>
    </md-content>

    <span flex></span>

    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="tgLibraries.addLibrary()" class="md-raised md-primary white">
            Add library
        </md-button>
    </div>

    <md-sidenav md-component-id="library-side-nav" class="md-sidenav-right" layout-fill
                style="width: 85%;min-width:85%;">
        <md-toolbar class="md-hue-4">
            <div class="md-toolbar-tools">
                <h1>Edit library</h1>

                <md-input-container class="tg-diagram-name">
                    <input ng-model="tgLibraries.selectedLibrary.name" aria-label="Diagram Name" ng-change="tgLibraries.updateName()">
                </md-input-container>

                <span flex></span>
            </div>
        </md-toolbar>

        <md-content style="margin: 20px;">
            <md-subheader class="md-no-sticky tg-list-header">Tangibles</md-subheader>

            <md-content flex class="md-padding main-content">
                <md-list>
                    <md-list-item ng-repeat="(id, tangible) in tgLibraries.selectedLibrary.tangibles"
                                  ng-click="tgLibraries.editTangible(id, tangible)">
                        <div class="horizontal tangible-icon-container">
                            <div class="vertical">
                                <img class="tangible-icon" ng-src="{{$tgImages.getTangibleImage(id, tgLibraries.selectedLibrary)}}"/>
                            </div>
                        </div>
                        <p>{{tangible.name}}</p>
                        <div class="vertical">
                            <md-icon class="md-secondary grey" aria-label="Delete"
                                     md-svg-icon="navigation:ic_close" ng-click="tgLibraries.deleteTangible(id)"></md-icon>
                        </div>
                    </md-list-item>
                </md-list>
            </md-content>
        </md-content>


        <span flex></span>

        <div class="md-actions" layout="row">
            <span flex></span>
            <md-button ng-click="tgLibraries.addTangible()" class="md-raised md-primary white">
                Add tangible
            </md-button>
        </div>

        <md-sidenav md-component-id="tangible-side-nav" class="md-sidenav-right" style="width: 50%;min-width:50%;">
            <md-toolbar class="md-hue-4">
                <div class="md-toolbar-tools">
                    <h1>Edit tangible</h1>

                    <md-input-container class="tg-diagram-name">
                        <input ng-model="tgLibraries.selectedTangible.tangible.name" aria-label="Tangible Name">
                    </md-input-container>

                    <span flex></span>
                </div>
            </md-toolbar>

            <md-content style="margin: 5%;">

                <div layout>
                    <div flex="10" layout="row" layout-align="left center" style="margin-right: 10px;">
                        <p style="line-height:1px;">Image</p>
                    </div>

                    <md-button flex="40" style="margin: 0;" layout-align="left center" class="md-primary"
                               ng-click="tgLibraries.getImage()">
                        <span ng-if="!tgLibraries.isCordova">Choose image</span>
                        <span ng-if="tgLibraries.isCordova">Take photo*</span>
                    </md-button>

                    <span flex="10"></span>

                    <md-checkbox flex="50" style="margin-bottom: 0;" ng-model="tgLibraries.selectedTangible.tangible.icon"><p>Library icon</p></md-checkbox>
                </div>

                <p ng-if="tgLibraries.isCordova" style="font-style: italic;margin-top: 0; margin-bottom: 5px;">*Object should have a white background</p>

                <div layout>
                    <div flex="10" layout="row" layout-align="left center" style="margin-right: 10px;">
                        <p>Angle</p>
                    </div>
                    
                    <!-- Update: Changed range of angle -->
                    <div flex layout="row" layout-align="left center">
                        <md-slider flex min="0" max="360" ng-model="tgLibraries.selectedTangible.tangible.startAngle"
                                   aria-label="Angle" class>
                        </md-slider>
                    </div>

                    <span flex="5"></span>

                    <md-input-container flex="25" style="margin-bottom: 0; margin-top: 0;" layout="row" layout-align="left center">
                        <input type="number" ng-model="tgLibraries.selectedTangible.tangible.startAngle"
                               aria-label="Angle" style="text-align: center;">
                    </md-input-container>
                </div>

                <div layout>
                    <div flex="10" layout="row" layout-align="left center" style="margin-right: 10px;">
                        <p>Scale</p>
                    </div>

                   <!-- Update: Added New Slider for the Scaling and changed step and range -->
                    <div flex layout="row" layout-align="left center">
                       <md-slider flex min="0.5" max="3" step ="0.1" ng-model="tgLibraries.selectedTangible.tangible.scale"
                                   aria-label="Scale" class>
                        </md-slider>
                    </div>    
                    <span flex="5"></span>

                    <md-input-container flex="25" style="margin-bottom: 0; margin-top: 0;" layout="row" layout-align="left center">
                        <input required type="number" step="0.1" name="scale"
                               ng-model="tgLibraries.selectedTangible.tangible.scale" min="0.5" max="3"
                               style="text-align: center;" aria-label="Scale"/>
                    </md-input-container>

                    <!-- Update: Removed tansparent hit button - made panel always editable -->
                    <!--<md-checkbox flex="50" style="margin-bottom: 0;"  ng-model="tgLibraries.selectedTangible.tangible.transparentHit"><p>Transparent hit</p></md-checkbox> -->
                </div>

                <!-- Update: Removed Editable toggle - made panel always editable -->

                <div id="touchPointsContainer"
                     style="max-width: 100%; height: 500px; background-color: antiquewhite; overflow: hidden;"></div>
            </md-content>

            <div class="md-actions" layout="row">
                <p style = "margin-left: 5%; margin-top: 0px">Register tangible above</p>
                <span flex></span>
                <md-button ng-click="tgLibraries.saveTangible()" class="md-raised md-primary white" id = "save">
                    Save
                </md-button>
                <md-button ng-click="tgLibraries.closeTangibleEditor()" class="md-raised grey" style="margin-right: 5%;">
                    Cancel
                </md-button>
        
            </div>
        </md-sidenav>
    </md-sidenav>
</div>

<input type="file" id="file" ng-model="file" name="file" accept=".png" base-sixty-four-input
       parser="imageUploaded" style="visibility: hidden;margin: 0;"/>